.headline {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  overflow: auto;
}

.main {
  padding: 50px 50px 60px 50px !important;
  background-color: #ffffffe8;
  box-shadow: 2px 2px 10px -3px #4b4b4b41;
  border-radius: 10px;
  margin: 12px;
}

body {
  color: #2d2d2f;
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  background: #f9f7fe;
}

p {
  line-height: 1.5rem;
}

.result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item {
  flex: 0 0 auto;
  margin: 20px;
}

.item.icon {
  font-size: 2.7rem;
}

.item.temperature {
  font-size: 2.7rem;
  font-weight: 500;
}

.additional-result {
  text-align: right;
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 95%;
}

.forecast-result {
  flex: 0 0 auto;
  margin: 10px;
}

.search-container {
  padding: 20px 0 !important;
}

input {
  border-radius: 5px 0 0 5px !important;
  font-size: 0.875rem !important;
  width: 80% !important;
}

button {
  display: inline !important;
}

.btn-outline-info {
  border-radius: 0 5px 5px 0 !important;
  font-size: 0.875rem !important;
  border-color: #ced4da;
  color: #2d2d2f;
  border-left: transparent;
}

.btn-outline-info:hover {
  background-color: #2d2d2f;
  color: #f4f6f8;
  border-color: #2d2d2f;
}

.list-inline-item {
  margin-right: 15px !important;
  margin-left: 15px !important;
  text-align: center !important;
  font-size: 0.875rem !important;
}

ul {
  margin: 0 auto !important;
  margin-top: 20px !important;
}

footer {
  line-height: 2em;
}

h6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  background: #f9f7fe;
}

.coder {
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #2d2d2f;
}

a {
  color: #885df1;
}

a:hover {
  color: #6248a3;
}
